/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

/* Estilização para o título */
h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Centralizando o formulário */
form {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilização da seção */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilos para os containers */
.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.333% - 20px); /* Três colunas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:hover {
    transform: scale(1.05);
}

/* Estilo para as imagens */
.container .image img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Tamanho máximo da imagem */
    border-radius: 5px;
}

/* Estilos para as informações do carro */
.dados {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.dados figcaption {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.container .dados .nome {
    text-align: center;
}

.container .dados .valor {
    text-align: center;
    font: bold;
}

.container .dados .rating {
    text-align: center;
}

.container .dados .descricao {
    text-align: center;
}

.container figure figcaption:nth-of-type(2) {
    font-weight: bold;
  }

/* Estilo para os checkboxes */
.dados div {
    margin-top: 10px;
    text-align: center;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    .container {
        width: calc(50% - 20px); /* Duas colunas em telas médias */
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%; /* Uma coluna em telas pequenas */
    }
}

/* Estilo para o botão de confirmação */
button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}